*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::selection {
  background-color: #34495E;
  color: white; }

html {
  font-size: 62.5%; }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 45%; } }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInside {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*to look the way it should look*/ } }

@keyframes writeLetters {
  from {
    width: 0%; }
  to {
    width: 100%; } }

@keyframes blink-caret {
  from {
    border-color: transparent; }
  50% {
    border-color: orange; } }

.heading-secondary {
  font-size: 2.2rem;
  text-align: center;
  color: rgba(52, 73, 94, 0.9); }

.heading-tertiary {
  font-size: 1.6rem;
  text-align: center;
  color: #34495e; }

.list-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6); }

.text-secondary {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.7); }

.header {
  background-color: #34495e;
  color: white;
  position: relative;
  padding: 2.5rem; }
  .header__logo {
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font-size: 2.3rem;
    font-weight: bold;
    letter-spacing: 0.4rem; }
    @media (max-width: 780px) {
      .header__logo {
        left: 5rem; } }
    @media (max-width: 450px) {
      .header__logo {
        left: 3rem; } }
  .header__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%); }
    @media (max-width: 900px) {
      .header__button {
        right: 1.5rem; } }
    @media (max-width: 710px) {
      .header__button {
        display: none; } }
    @media (max-width: 450px) {
      .header__button {
        right: .7rem; } }
    .header__button--btn {
      padding: 1.4rem 1rem;
      font-size: 1.5rem;
      width: 8rem;
      text-align: center;
      outline: none;
      text-decoration: none;
      color: white;
      transition: all 0.3s;
      cursor: pointer; }
      @media (max-width: 780px) {
        .header__button--btn {
          padding: 1.4rem 1rem; } }
      .header__button--btn:hover, .header__button--btn:active {
        box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
        transform: scale(1.1); }

.navigation {
  display: none; }
  @media (max-width: 710px) {
    .navigation {
      display: block; } }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #34495e;
    height: 4rem;
    width: 5rem;
    position: absolute;
    top: .5rem;
    right: 2rem;
    border-radius: 5%;
    z-index: 100;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
    @media (max-width: 470px) {
      .navigation__button {
        transform: scale(0.8); } }
    .navigation__button:hover, .navigation__button:active {
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
      transform: scale(1.1); }
      @media (max-width: 470px) {
        .navigation__button:hover, .navigation__button:active {
          transform: scale(1); } }
    .navigation__button .navigation__move-1 {
      position: absolute;
      color: white;
      outline: none;
      text-decoration: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scaleX(1.2); }
    .navigation__button .navigation__move-2 {
      display: none;
      color: white;
      outline: none;
      text-decoration: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scaleX(1.2); }
  .navigation__background {
    height: 3rem;
    width: 4rem;
    border-radius: 5%;
    position: absolute;
    top: .7rem;
    right: 2.5rem;
    background-image: radial-gradient(#34495E, #142954);
    z-index: 10;
    transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1); }
    @media (max-width: 470px) {
      .navigation__background {
        transform: scale(0.8); } }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center; }
  .navigation__item {
    margin: 1rem;
    transform: translateX(-15%); }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 500;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 50%, transparent 50%, white 50%);
    background-size: 260%;
    transition: all .3s; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #34495e;
    transform: translateX(1rem); }
  .navigation__checkbox:target ~ .navigation__background {
    transform: scale(80);
    position: fixed; }
  .navigation__checkbox:target ~ .navigation__nav {
    width: 100%;
    opacity: 1; }
  .navigation__checkbox:target ~ .navigation__nav .navigation__list {
    display: block; }
  .navigation__checkbox:target ~ .navigation__button {
    position: fixed; }
    .navigation__checkbox:target ~ .navigation__button .navigation__move-1 {
      display: none; }
    .navigation__checkbox:target ~ .navigation__button .navigation__move-2 {
      display: block; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.header_container {
  background-image: linear-gradient(to right bottom, #2e3e4e, rgba(47, 63, 79, 0.9)), url("./code3.png");
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-bottom: 1rem; }
  .header_container--name {
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 1px solid white;
    padding: 0.1rem;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .header_container--profession {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2.8rem;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    letter-spacing: 0.05rem;
    animation: writeLetters 4s steps(200) 1s 1 normal both; }
  .header_container--image {
    vertical-align: middle;
    width: 20rem;
    height: 18rem;
    border-radius: 50%;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.3);
    transition: all .3s;
    position: relative; }
    .header_container--image::after {
      content: "";
      height: 100%;
      width: 100%;
      border-radius: 50%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s; }
    .header_container--image:hover, .header_container--image:active {
      transform: translateY(-0.5rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .header_container--image:hover::after, .header_container--image:active::after {
        transform: scaleX(1.4) scaleY(1.6);
        background-color: white;
        opacity: 0; }
  .header_container--message {
    margin-top: 2.5rem;
    animation: moveInBottom 1s ease-out 0.75s;
    animation-fill-mode: backwards; }
  .header_container--info {
    display: block;
    font-size: 1.65rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: 1rem 0;
    line-height: 2.3rem; }

.content-body {
  background-color: #ecf0f1; }

.content {
  margin: 0 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3rem;
  padding-bottom: 10rem;
  justify-content: center; }
  @media (max-width: 360px) {
    .content {
      margin: 0 1rem; } }
  @media (max-width: 360px) {
    .content {
      margin: 0 .5rem; } }
  .content__info {
    font-size: 1.4rem; }
    .content__info--left {
      width: 47%;
      margin-right: 3%; }
      @media (max-width: 600px) {
        .content__info--left {
          width: 100%; } }
    .content__info--right {
      width: 47%;
      margin-left: 3%; }
      @media (max-width: 600px) {
        .content__info--right {
          width: 100%; } }
    .content__info-subtitle {
      border-top: 0.05px solid #34495e;
      padding-top: 1.5rem;
      padding-bottom: 0.1rem;
      font-size: 2.2rem;
      color: #34495e; }
    .content__info--list {
      line-height: 2.5rem;
      padding-left: 1.5rem;
      margin-bottom: 3rem; }
    .content__info--download {
      padding: 0.8rem;
      color: white;
      display: inline-block;
      flex-direction: row;
      align-items: center;
      font-weight: 500;
      background-color: #34495e;
      cursor: pointer;
      margin-bottom: 3rem; }
      .content__info--download-link:link, .content__info--download-link:visited {
        text-decoration: none;
        color: white; }
      .content__info--download:hover, .content__info--download:active {
        background-color: green; }
    .content__info--more_projects {
      margin-top: 4rem;
      padding: 1rem 1rem;
      background-color: #34495E;
      display: inline-block;
      color: white;
      cursor: pointer;
      font-weight: 500; }
      .content__info--more_projects a {
        text-decoration: none;
        color: white; }
      .content__info--more_projects:hover, .content__info--more_projects:active {
        background-color: green; }
    .content__info--project {
      display: flex;
      flex-direction: row;
      margin-top: 2.2rem; }
      .content__info--project-image {
        height: 7rem;
        width: 6.5rem;
        background-size: cover;
        align-self: center; }
      .content__info--project-text {
        margin-left: 2rem; }
        .content__info--project-text-link:link, .content__info--project-text-link:visited {
          font-size: 1.6rem;
          font-weight: 600;
          margin: 0;
          text-decoration: none;
          color: #551A8B; }
          .content__info--project-text-link:link:hover, .content__info--project-text-link:visited:hover {
            text-decoration: underline; }
        .content__info--project-text-list2 {
          line-height: 2.5rem;
          padding-left: 0rem;
          margin-bottom: 1rem; }
        .content__info--project-text-note {
          display: block;
          line-height: 2rem;
          -moz-hyphens: auto;
          -ms-hyphens: auto;
          -webkit-hyphens: auto;
          hyphens: auto; }

.main-project {
  position: relative; }
  .main-project .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.13;
    overflow: hidden; }
    .main-project .bg-video video {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .main-project__info {
    margin: 0 auto;
    margin-top: -2rem;
    padding: 4rem 3rem; }
    .main-project__info-title {
      font-size: 3rem;
      color: #34495e;
      font-weight: bold;
      padding-bottom: 2.5rem;
      text-align: center;
      transition: all .2s; }
      .main-project__info-title:hover, .main-project__info-title:active {
        transform: skewY(2deg) skewX(15deg);
        text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4); }
    .main-project__info-story {
      width: 70%;
      margin: 0 auto;
      box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 3px;
      padding: 2rem 4rem 3rem 4rem;
      position: relative;
      transform: skewX(-10deg);
      transition: all 0.4s; }
      .main-project__info-story:not(:last-child) {
        margin-bottom: 6rem; }
      .main-project__info-story:last-child {
        margin-bottom: 12rem; }
      @media (max-width: 580px) {
        .main-project__info-story {
          transform: skewX(0deg); } }
      @media (max-width: 450px) {
        .main-project__info-story {
          width: 80%; } }
      @media (max-width: 400px) {
        .main-project__info-story {
          padding: 2rem 2rem 3rem 2rem;
          width: 90%; } }
      @media (max-width: 285px) {
        .main-project__info-story {
          padding: 2rem 1rem 3rem 1rem; } }
      .main-project__info-story:hover, .main-project__info-story:active {
        transform: scale(1.07) skewX(-10deg);
        box-shadow: 0 5rem 7rem rgba(0, 0, 0, 0.1); }
        @media (max-width: 580px) {
          .main-project__info-story:hover, .main-project__info-story:active {
            transform: scale(1.07) skewX(0deg); } }
      .main-project__info-story-project-title {
        transform: skewX(10deg);
        transition: all .2s; }
        .main-project__info-story-project-title-name:link, .main-project__info-story-project-title-name:visited {
          text-decoration: none;
          color: #34495e; }
        .main-project__info-story-project-title-name:hover, .main-project__info-story-project-title-name:active {
          color: green;
          box-shadow: 0 5rem 7rem rgba(0, 0, 0, 0.3); }
        @media (max-width: 580px) {
          .main-project__info-story-project-title {
            transform: skewX(0deg); } }
      .main-project__info-story-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 2rem 7rem 3rem;
        flex-wrap: wrap; }
        @media (max-width: 580px) {
          .main-project__info-story-block {
            padding: 0 2rem 7rem 2rem; } }
        .main-project__info-story-block-1 {
          width: 52%;
          margin-right: 3%; }
          @media (max-width: 570px) {
            .main-project__info-story-block-1 {
              width: 100%; } }
        .main-project__info-story-block-2 {
          width: 42%;
          margin-left: 3%; }
          @media (max-width: 570px) {
            .main-project__info-story-block-2 {
              width: 100%; } }
      .main-project__info-story-screenshots {
        padding: 1.5rem 2rem;
        background-color: #34495e;
        color: white;
        text-decoration: none;
        outline: none;
        font-size: 1.5rem;
        border-radius: 10rem;
        margin-top: 3rem;
        font-weight: 500;
        position: absolute;
        bottom: 0;
        left: 50%;
        cursor: pointer;
        transform: translateX(-60%);
        transition: all 0.5s; }
        @media (max-width: 450px) {
          .main-project__info-story-screenshots {
            transform: translateX(-50%); } }
        @media (max-width: 360px) {
          .main-project__info-story-screenshots {
            left: 40%;
            transform: translateX(-35%); } }
        @media (max-width: 310px) {
          .main-project__info-story-screenshots {
            left: 30%;
            transform: translateX(-20%); } }
        @media (max-width: 273px) {
          .main-project__info-story-screenshots {
            left: 25%;
            transform: translateX(-16%); } }
        @media (max-width: 260px) {
          .main-project__info-story-screenshots {
            left: 20%;
            transform: translateX(-10%); } }
        .main-project__info-story-screenshots::after {
          content: "";
          display: inline-block;
          height: 100%;
          width: 100%;
          border-radius: 10rem;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: -1;
          transition: all 0.4s; }
        .main-project__info-story-screenshots:hover, .main-project__info-story-screenshots:active {
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
          .main-project__info-story-screenshots:hover::after, .main-project__info-story-screenshots:active::after {
            transform: scaleX(1.4) scaleY(1.6);
            background-color: #34495e;
            opacity: 0; }

.image-body {
  background-color: #34495e;
  padding: 4rem 12rem; }
  @media (max-width: 720px) {
    .image-body {
      padding: 8rem 2rem; } }
  @media (max-width: 410px) {
    .image-body {
      padding: 8rem 1rem; } }

.image-container {
  background-color: white; }

.screenshots-heading {
  background-color: green;
  padding: .01rem 0;
  text-align: center;
  position: relative;
  margin-bottom: 4.5rem; }
  @media (max-width: 470px) {
    .screenshots-heading {
      padding-right: 3rem;
      text-align: right; } }

.home-button {
  padding: 0rem 1rem;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  background-color: white;
  color: green;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s; }
  @media (max-width: 470px) {
    .home-button {
      transform: scale(0.9) translateY(-50%); } }
  @media (max-width: 320px) {
    .home-button {
      transform: scale(0.75) translateY(-65%); } }
  .home-button::after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .home-button:hover, .home-button:active {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
    .home-button:hover::after, .home-button:active::after {
      transform: scaleX(1.4) scaleY(1.6);
      background-color: white;
      opacity: 0; }

.span-text {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600; }

.home-logo {
  margin-right: .8rem; }

.image-text {
  display: inline-block;
  font-size: 2.6rem;
  font-weight: 600;
  color: white;
  transition: all .3s; }
  .image-text:hover, .image-text:active {
    transform: skewY(2deg) skewX(15deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4); }
  @media (max-width: 320px) {
    .image-text {
      font-size: 2.2rem; } }

.project-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 4rem; }

.image-items {
  height: 27rem;
  width: 20rem;
  transition: all 0.4s;
  border-radius: 3px;
  margin: 2rem;
  box-shadow: 1rem 2.5rem 4rem rgba(0, 0, 0, 0.5);
  outline-offset: 1.2rem; }
  @media (max-width: 375px) {
    .image-items {
      width: 27rem;
      height: 35rem; } }
  .image-items:hover {
    transform: scale(1.2) translateY(-0.5rem); }
  .image-items:hover .image-items:not(:hover) {
    transform: scale(0.3);
    background-color: red; }

.message {
  display: block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  position: absolute;
  text-align: center;
  line-height: 5.5rem;
  top: 50%;
  padding: 0 11%;
  transform: translate(0%, -50%); }
  @media (max-width: 490px) {
    .message {
      font-size: 2.5rem;
      line-height: 4rem; } }

.gohome {
  padding: 0rem 1rem;
  position: absolute;
  top: 1rem;
  left: 2%;
  background-color: white;
  color: #34495e;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s; }
  @media (max-width: 470px) {
    .gohome {
      transform: scale(0.9); } }
  @media (max-width: 320px) {
    .gohome {
      transform: scale(0.75); } }
  .gohome::after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .gohome:hover, .gohome:active {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
    .gohome:hover::after, .gohome:active::after {
      transform: scaleX(1.4) scaleY(1.6);
      background-color: white;
      opacity: 0; }

.footer {
  background-color: #34495e; }
  .footer-brand {
    text-align: center;
    padding: 7rem 0; }
    .footer-brand-logo {
      height: 10rem;
      margin-bottom: 3rem; }
      @media (max-width: 503px) {
        .footer-brand-logo {
          height: 9rem; } }
    .footer-brand-link {
      margin-top: 4rem;
      font-size: 2.8rem;
      padding-bottom: .7rem; }
      @media (max-width: 503px) {
        .footer-brand-link {
          font-size: 2.5rem;
          font-weight: 500; } }
      .footer-brand-link:link, .footer-brand-link:visited {
        color: white; }
  .footer__connect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3rem 0;
    color: white;
    font-size: 1.4rem; }
    @media (max-width: 503px) {
      .footer__connect {
        flex-wrap: wrap;
        margin: 0 auto; } }
    .footer__connect-one {
      display: inline-block;
      margin: 0 4rem;
      border-top: 1px solid white; }
      @media (max-width: 503px) {
        .footer__connect-one {
          margin-bottom: 3.8rem; } }
      .footer__connect-one-heading {
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight: 500; }
        @media (max-width: 503px) {
          .footer__connect-one-heading {
            text-align: center; } }
      .footer__connect-one-info {
        list-style: none;
        padding-left: 0;
        line-height: 2.5rem; }
        .footer__connect-one-info-link {
          text-decoration: none; }
          .footer__connect-one-info-link:link, .footer__connect-one-info-link:visited {
            color: white; }
    .footer__connect-two {
      display: inline-block;
      margin: 0 4rem;
      border-top: 1px solid white; }
      .footer__connect-two-info {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        .footer__connect-two-info-linkedin {
          height: 4.5rem;
          width: 4.5rem;
          border-radius: 50%;
          background-color: #0077B5;
          position: relative; }
          .footer__connect-two-info-linkedin:not(:last-child) {
            margin-right: 1.5rem; }
          .footer__connect-two-info-linkedin:link, .footer__connect-two-info-linkedin:visited {
            text-decoration: none;
            color: white; }
        .footer__connect-two-info-facebook {
          height: 4.5rem;
          width: 4.5rem;
          border-radius: 50%;
          background-color: #4867AA;
          position: relative; }
          .footer__connect-two-info-facebook:not(:last-child) {
            margin-right: 1.5rem; }
          .footer__connect-two-info-facebook:link, .footer__connect-two-info-facebook:visited {
            text-decoration: none;
            color: white; }
        .footer__connect-two-info-twitter {
          height: 4.5rem;
          width: 4.5rem;
          border-radius: 50%;
          background-color: #19B1E2;
          position: relative; }
          .footer__connect-two-info-twitter:not(:last-child) {
            margin-right: 1.5rem; }
          .footer__connect-two-info-twitter:link, .footer__connect-two-info-twitter:visited {
            text-decoration: none;
            color: white; }
        .footer__connect-two-info-github {
          height: 4.5rem;
          width: 4.5rem;
          border-radius: 50%;
          background-color: #1B1E22;
          position: relative; }
          .footer__connect-two-info-github:not(:last-child) {
            margin-right: 1.5rem; }
          .footer__connect-two-info-github:link, .footer__connect-two-info-github:visited {
            text-decoration: none;
            color: white; }
        .footer__connect-two-info-instagram {
          height: 4.5rem;
          width: 4.5rem;
          border-radius: 50%;
          background-image: linear-gradient(to left bottom, #515BD4, #8134AF, #DD2A7B, #F58529);
          position: relative; }
          .footer__connect-two-info-instagram:not(:last-child) {
            margin-right: 1.5rem; }
          .footer__connect-two-info-instagram:link, .footer__connect-two-info-instagram:visited {
            text-decoration: none;
            color: white; }
        .footer__connect-two-info-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
  .footer__copywrite {
    padding: .1rem 0 .1rem 6rem;
    background-color: #2E3F4E; }
    @media (max-width: 430px) {
      .footer__copywrite {
        padding: .1rem 0 .1rem 2rem; } }
    .footer__copywrite-text {
      font-size: 1.5rem;
      font-weight: 500;
      color: white; }

.relate {
  padding: 3rem 0 30rem 0;
  background-color: #ecf0f1;
  margin-top: -6.5rem;
  position: relative; }
  .relate__title {
    font-size: 2.5rem; }
  .relate__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 50%; }
    .relate__info-button {
      padding: 2rem 0;
      background-color: white;
      width: 25rem;
      color: #34495e;
      text-decoration: none;
      outline: none;
      font-size: 1.5rem;
      border-radius: 1rem;
      margin-bottom: 2rem;
      font-weight: 600;
      text-align: center;
      cursor: pointer;
      transform: translateX(-50%);
      transition: all 0.5s; }
      .relate__info-button::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s; }
      .relate__info-button:hover, .relate__info-button:active {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
        .relate__info-button:hover::after, .relate__info-button:active::after {
          transform: scaleX(1.2) scaleY(1.6);
          background-color: #34495e;
          opacity: 0; }

.comment-title {
  margin-top: 6rem;
  font-size: 3.5rem;
  color: white;
  margin: 4rem 0 2rem 0; }

.comment {
  margin: 0 auto;
  width: 55%;
  padding: 0 0 4rem 0; }
  @media (max-width: 1120px) {
    .comment {
      width: 70%; } }
  @media (max-width: 600px) {
    .comment {
      width: 80%; } }
  @media (max-width: 450px) {
    .comment {
      width: 90%; } }
  .comment__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    outline-offset: 1.8rem;
    outline: .5rem solid green;
    margin-bottom: 11rem; }
    .comment__form-user {
      width: 60%;
      padding: 1.8rem 2rem;
      margin: 1.5rem auto;
      background-color: white;
      border: none;
      border: 2px solid transparent;
      outline: none; }
      @media (max-width: 670px) {
        .comment__form-user {
          width: 70%; } }
      .comment__form-user:focus {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
        border: 3px solid #6d9c7d; }
      .comment__form-user:focus:invalid {
        border: 3px solid #ff7730; }
    .comment__form-post {
      width: 60%;
      padding: 2rem;
      height: 10rem;
      margin: 1.5rem auto;
      background-color: white;
      border: none;
      outline: none; }
      @media (max-width: 670px) {
        .comment__form-post {
          width: 70%;
          height: 13rem; } }
      .comment__form-post:focus {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
        border: 3px solid #6d9c7d; }
      .comment__form-post:focus:invalid {
        border: 3px solid #ff7730; }
    .comment__form-send {
      padding: 1.2rem 0;
      background-color: white;
      width: 13rem;
      color: #34495e;
      text-decoration: none;
      outline: none;
      font-size: 1.5rem;
      border-radius: 1rem;
      margin: 2rem auto;
      font-weight: 600;
      text-align: center;
      position: relative;
      cursor: pointer;
      transition: all 0.5s; }
      .comment__form-send::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s; }
      .comment__form-send:hover, .comment__form-send:active {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
        .comment__form-send:hover::after, .comment__form-send:active::after {
          transform: scaleX(1.2) scaleY(1.6);
          background-color: white;
          opacity: 0; }
  .comment__all {
    margin: 3.5rem 0 0 0;
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 1.5rem;
    display: inline-block; }
    .comment__all:not(:first-child) {
      margin: 0 0 3rem 0; }
    .comment__all-text {
      margin: 0;
      font-size: 1.8rem;
      font-weight: 700;
      color: green; }
    .comment__all-text1 {
      margin: 0;
      margin: 1rem 0 .2rem 0;
      color: #34495e;
      overflow: hidden;
      font-size: 1.5rem; }
  .comment__title {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 2.5rem; }

.sms {
  position: relative; }
  .sms__container {
    background-color: white;
    margin: 2rem auto;
    width: 40%;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%; }
    @media (max-width: 1000px) {
      .sms__container {
        width: 50%; } }
    @media (max-width: 900px) {
      .sms__container {
        margin-top: 8.5rem; } }
    @media (max-width: 720px) {
      .sms__container {
        width: 60%; } }
    @media (max-width: 600px) {
      .sms__container {
        margin-top: 13rem; } }
    @media (max-width: 520px) {
      .sms__container {
        width: 65%; } }
    @media (max-width: 450px) {
      .sms__container {
        width: 73%; } }
    @media (max-width: 370px) {
      .sms__container {
        width: 80%; } }
    @media (max-width: 300px) {
      .sms__container {
        width: 85%; } }
    .sms__container-items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      padding: 0 0 13rem 0; }
    .sms__container-name {
      width: 60%;
      padding: 1.5rem;
      margin: 2rem auto 0 auto;
      border-radius: 2px;
      border: none;
      background-color: rgba(255, 255, 255, 0.8);
      outline: none;
      border-bottom: 1px solid #777;
      display: block;
      transition: all .3s; }
      .sms__container-name:focus {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
        border-bottom: 3px solid #6d9c7d; }
      .sms__container-name:focus:invalid {
        border-bottom: 3px solid #ff7730; }
      .sms__container-name::-webkit-input-placeholder {
        color: #777; }
    .sms__container-label {
      color: rgba(0, 0, 0, 0.7);
      font-size: 1.2rem;
      font-weight: 700;
      padding-top: 1rem;
      padding-left: 20%;
      display: block;
      transition: all .3s; }
    .sms__container-name:placeholder-shown ~ .sms__container-label {
      transform: translateY(-4.5rem);
      visibility: hidden;
      opacity: 0; }
    .sms__container-subject {
      width: 60%;
      padding: 2rem;
      margin: 2rem auto 0 auto;
      border-radius: 2px;
      border: none;
      background-color: whitesmoke;
      outline: none;
      border-bottom: 1px solid transparent;
      transition: all .3s; }
      .sms__container-subject:focus {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
        border: 3px solid #6d9c7d; }
      .sms__container-subject:focus:invalid {
        border: 2px solid #ff7730; }
      .sms__container-subject::-webkit-input-placeholder {
        color: #777; }
    .sms__container-content {
      width: 60%;
      padding: 2rem;
      margin: 2rem auto 0 auto;
      border-radius: 2px;
      border: none;
      outline: none;
      border: 1px solid #777;
      height: 13rem;
      transition: all .3s; }
      .sms__container-content:focus {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
        border: 3px solid #6d9c7d; }
      .sms__container-content:focus:invalid {
        border: 2px solid #ff7730; }
      .sms__container-content::-webkit-input-placeholder {
        color: #777; }

.mail-button {
  padding: 1.5rem 2rem;
  background-color: #34495e;
  color: white;
  text-decoration: none;
  outline: none;
  font-size: 1.5rem;
  border-radius: 10rem;
  width: 15rem;
  text-align: center;
  margin-top: 3rem;
  font-weight: 500;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
  transition: all 0.5s; }
  .mail-button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .mail-button:hover, .mail-button:active {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .mail-button:hover::after, .mail-button:active::after {
      transform: scaleX(1.4) scaleY(1.6);
      background-color: #34495e;
      opacity: 0; }

.email-title {
  padding: 2rem 0;
  margin: 0;
  font-size: 2.4rem;
  text-transform: uppercase; }

.seperate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.sms-icon {
  position: absolute;
  top: 5%;
  left: 17%; }

.articles__title {
  font-size: 3.5rem;
  color: white;
  margin-top: 5rem; }

.articles__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20rem 50%; }
  .articles__container-but1 {
    animation-name: moveInside;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .articles__container-button {
    padding: 2rem 0;
    background-color: white;
    width: 25rem;
    color: #34495e;
    text-decoration: none;
    outline: none;
    font-size: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 4rem;
    font-weight: 600;
    text-align: center;
    transform: translateX(-50%) translateY(-250%);
    cursor: pointer;
    transition: all 0.5s; }
    .articles__container-button::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 1rem;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s; }
    .articles__container-button:hover, .articles__container-button:active {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .articles__container-button:hover::after, .articles__container-button:active::after {
        transform: scaleX(1.2) scaleY(1.6);
        background-color: white;
        opacity: 0; }

.article-comment {
  position: absolute;
  color: white;
  padding: 1rem;
  top: 78%;
  left: 10rem;
  font-size: 1.8rem;
  border-bottom: 1px solid white;
  cursor: pointer;
  animation: moveInBottom 1s ease-out 0.75s;
  animation-fill-mode: backwards;
  transition: all .3s; }
  @media (max-width: 520px) {
    .article-comment {
      left: 5rem; } }
  @media (max-width: 370px) {
    .article-comment {
      left: 50%;
      transform: translate(-50%); } }
  @media (max-width: 279px) {
    .article-comment {
      font-size: 1.5rem; } }
  .article-comment:hover {
    background-color: #ccbf92;
    color: white;
    border-bottom: none; }
